html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #333333;
    margin: 0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    position: absolute;
    top: 0;
}

a {
    text-decoration: none;
    color: #2b82ad;
}

i {
    margin-right: 5px;
}

img {
    position: absolute;
    bottom: 0;
    right: 0;
}

main {
    margin-top: 70px;
    margin-left: 12.5%;
    position: absolute;
    top: 0;
}

.aboutbox {
    background-color: #F5F5F5;
    border: 1px solid #EEEEEE;
    padding: 20px;
    display: inline-block;
}

.aboutbox-head {
    display: block;
}

.aboutbox-name {
    margin: 0;
    font-weight: 400;
    font-size: 44px;
    text-align: center;
}

.aboutbox-buttons {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: outside none none;
}

.aboutbox-button {
    font-size: 16px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border-right: 1px solid #F5F5F5;
    line-height: 1;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.01), inset 0 0 0 1px rgba(255, 255, 255, 0.01), inset 0 -60px 60px -40px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

.aboutbox-button:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.aboutbox-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.aboutbox-button:last-child {
    border-right: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.aboutbox-content > p {
    margin: 20px auto;
    text-align: justify;
    max-width: 415px;
}

.aboutbox-button > a {
    display: inline-block;
    padding: 10px;
    color: #FFFFFF;
}

.aboutbox-info {
    margin: 10px 0;
}

.fork {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F5F5F5;
    font-size: 12px;
}

.fork > p {
    margin: 5px;
}

.fork > p > a {
    text-decoration: underline;
}
